.neon{
    text-shadow:0 0 10px #7462ff,
    0 0 20px #7462ff ,
    0 0 40px  #7462ff,
    0 0 80px #7462ff,
    0 0 120px #7462ff;
    letter-spacing: 0.1rem;
   
}

.box{
    position: relative;
    background: rgba(0,0,0,0.75);
    width:200px ;
    height:60px ;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box::before{
    content:"";
    position: absolute;
    width: 400px;
    height: 40px;
    background-image:  conic-gradient(transparent,transparent,transparent,#d2001a);
   animation: animate 4s linear infinite;
}
.box::after{
    content:"";
    position: absolute;
    width: 400px;
    height: 50px;
    background-image:  conic-gradient(transparent,transparent,transparent, #7462ff);
   animation: animate 4s linear infinite;
   animation-delay: -2s;

}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box span{
    position: absolute;
    inset:5px;
    background:#05060a ;
    
    z-index: 1;
}
.box p{
    z-index: 2;
    position: relative;
    color: beige;
}
.color {
    height: 700px;
    width: 1000px;
    background-image: radial-gradient(closest-side, rgba(215, 101, 194, 0.21), #000);

}

img{
    filter: drop-shadow(10px 5px 5px black);
}